# misc.
alias q='exit'
alias c='clear'
alias fk='fuck'

# cd
alias ~='cd ~'
alias ..='cd ../'
alias ...='cd ../../'
alias ....='cd ../../../'
alias .....='cd ../../../../'

# ls (eza is the maintained fork of exa)
if command -v eza &> /dev/null
then
    alias ls='eza'
    alias la='eza -aF'
    alias ll='eza -lF'
    alias l='eza -laF --git'
else
    alias ls='ls -GF'
    alias la='ls -aGF'
    alias ll='ls -lGF'
    alias l='ls -laghFG'
fi

# for git aliases
function current_branch() {
  ref=$(git symbolic-ref HEAD 2> /dev/null) || \
  ref=$(git rev-parse --short HEAD 2> /dev/null) || return
  echo ${ref#refs/heads/}
}

# git overrides and additions (Oh-My-Zsh git plugin provides the rest)
alias gs='git status'
alias ga.='git add .'
alias gcam='git commit -vam'
alias gd='git diff --color-words=. --ignore-all-space'
alias gdc='git diff --cached'
alias gpush='git push origin $(current_branch)'
alias gpull='git pull origin $(current_branch)'
alias gl="git log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
alias gll="git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --stat"

# grep (use ripgrep for speed)
if command -v rg &> /dev/null
then
    alias grep='rg'
    alias grepi='rg -i'
    alias grepl='rg -l'
fi

# speed test stuff
alias myip='curl https://ipinfo.io/json'
alias speedtest='curl -s https://raw.githubusercontent.com/sivel/speedtest-cli/master/speedtest.py | python3 -'
